<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Contact</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="static/css/form.css">
<!-- Responsive-->
<link rel="stylesheet" href="static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="static/css/owl.carousel.min.css">
<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    <!-- header section end -->
    <!-- contact section start -->
  
    <!-- Create Form -->
    <div class="form">
 
        <!-- Details -->
        <div class="form-control">
          <label for="response1"></label>
          On a scale from 1 (not dreading it at all) to 10 (dreading it a lot), how much do you dread coming to work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response1)">1</button>
          <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response1)">2</button>
          <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response1)">3</button>
          <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response1)">4</button>
          <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response1)">5</button>
          <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response1)">6</button>
          <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response1)">7</button>
          <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response1)">8</button>
          <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response1)">9</button>
          <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response1)">10</button>
        </div>
        <div class="form-control">
          <label for="response2"></label>
          On a scale from 1 (a lot less) to 10 (a lot more), how much more cynical and critical are you about your job?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response2)">1</button>
          <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response2)">2</button>
          <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response2)">3</button>
          <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response2)">4</button>
          <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response2)">5</button>
          <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response2)">6</button>
          <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response2)">7</button>
          <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response2)">8</button>
          <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response2)">9</button>
          <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response2)">10</button>
        </div>
  
        <div class="form-control">
          <label for="response3"></label>
          On a scale from 1 (not overwhelmed at all) to 10 (very very overwhelmed), how overwhelmed are you at work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response3)">1</button>
          <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response3)">2</button>
          <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response3)">3</button>
          <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response3)">4</button>
          <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response3)">5</button>
          <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response3)">6</button>
          <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response3)">7</button>
          <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response3)">8</button>
          <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response3)">9</button>
          <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response3)">10</button>
        </div>
  
        <div class="form-control">
          <label for="response4"></label>
            On a scale from 1 (not at all) to 10 (a lot), how much has your appetite changed in the past month?
            <br>
            <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response4)">1</button>
            <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response4)">2</button>
            <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response4)">3</button>
            <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response4)">4</button>
            <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response4)">5</button>
            <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response4)">6</button>
            <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response4)">7</button>
            <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response4)">8</button>
            <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response4)">9</button>
            <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response4)">10</button>
        </div>
  
        <div class="form-control">
          <label for="response5"></label>
          On a scale from 1 (not at all) to 10 (a lot), how much has your sleep changed in the past month?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response5)">1</button>
          <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response5)">2</button>
          <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response5)">3</button>
          <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response5)">4</button>
          <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response5)">5</button>
          <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response5)">6</button>
          <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response5)">7</button>
          <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response5)">8</button>
          <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response5)">9</button>
          <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response5)">10</button>
        </div>
  
        <div class="form-control">
          <label for="response6"></label>
          On a scale from 1 (almost never) to 10 (almost all the time), how often do you experience headaches, backaches, or digestion issues?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="selectResponse(1, response6)">1</button>
          <button class="btn btn-scale btn-scale-asc-2" onclick="selectResponse(2, response6)">2</button>
          <button class="btn btn-scale btn-scale-asc-3" onclick="selectResponse(3, response6)">3</button>
          <button class="btn btn-scale btn-scale-asc-4" onclick="selectResponse(4, response6)">4</button>
          <button class="btn btn-scale btn-scale-asc-5" onclick="selectResponse(5, response6)">5</button>
          <button class="btn btn-scale btn-scale-asc-6" onclick="selectResponse(6, response6)">6</button>
          <button class="btn btn-scale btn-scale-asc-7" onclick="selectResponse(7, response6)">7</button>
          <button class="btn btn-scale btn-scale-asc-8" onclick="selectResponse(8, response6)">8</button>
          <button class="btn btn-scale btn-scale-asc-9" onclick="selectResponse(9, response6)">9</button>
          <button class="btn btn-scale btn-scale-asc-10" onclick="selectResponse(10, response6)">10</button>
        </div>
      </div>
      <form id="responseForm" action="/questions" method="POST">
        <input type="hidden" name="response1" id="response1" required>
        <input type="hidden" name="response3" id="response2" required>
        <input type="hidden" name="response3" id="response3" required>
        <input type="hidden" name="response4" id="response4" required>
        <input type="hidden" name="response5" id="response5" required>
        <input type="hidden" name="response6" id="response16" required>
        <input type="submit" value="Submit">
      </form>
</body>
</html>
    <!-- contact section end -->
    <!-- footer section start -->
    
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>