<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Contact</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="static/css/form.css">
<!-- Responsive-->
<link rel="stylesheet" href="static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="static/css/owl.carousel.min.css">
<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    <!-- header section end -->
    <!-- contact section start -->
  
    <!-- Create Form -->
    <div class="form">
 
        <!-- Details -->
        <div class="form-control">
          <label for="response1"></label>
          On a scale from 1 (not dreading it at all) to 9 (dreading it a lot), how much do you dread coming to work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" id= "button11" onclick="selectResponse(1, 'response1')">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id= "button12" onclick="selectResponse(2, 'response1')">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id= "button13" onclick="selectResponse(3, 'response1')">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id= "button14" onclick="selectResponse(4, 'response1')">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id= "button15" onclick="selectResponse(5, 'response1')">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id= "button16" onclick="selectResponse(6, 'response1')">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id= "button17" onclick="selectResponse(7, 'response1')">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id= "button18" onclick="selectResponse(8, 'response1')">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id= "button19" onclick="selectResponse(9, 'response1')">9</button>
        </div>
        <div class="form-control">
          <label for="response2"></label>
          On a scale from 1 (a lot less) to 9 (a lot more), how much more cynical and critical are you about your job?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" id = "button21" onclick="selectResponse(1, 'response2')">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id = "button22" onclick="selectResponse(2, 'response2')">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id = "button23" onclick="selectResponse(3, 'response2')">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id = "button24" onclick="selectResponse(4, 'response2')">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id = "button25" onclick="selectResponse(5, 'response2')">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id = "button26" onclick="selectResponse(6, 'response2')">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id = "button27" onclick="selectResponse(7, 'response2')">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id = "button28" onclick="selectResponse(8, 'response2')">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id = "button29" onclick="selectResponse(9, 'response2')">9</button>
        </div>
  
        <div class="form-control">
          <label for="response3"></label>
          On a scale from 1 (not overwhelmed at all) to 9 (very very overwhelmed), how overwhelmed are you at work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" id = "button31" onclick="selectResponse(1, 'response3')">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id = "button32" onclick="selectResponse(2, 'response3')">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id = "button33" onclick="selectResponse(3, 'response3')">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id = "button34" onclick="selectResponse(4, 'response3')">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id = "button35" onclick="selectResponse(5, 'response3')">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id = "button36" onclick="selectResponse(6, 'response3')">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id = "button37" onclick="selectResponse(7, 'response3')">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id = "button38" onclick="selectResponse(8, 'response3')">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id = "button39" onclick="selectResponse(9, 'response3')">9</button>
        </div>
  
        <div class="form-control">
          <label for="response4"></label>
            On a scale from 1 (not at all) to 9 (a lot), how much has your appetite changed in the past month?
            <br>
            <button class="btn btn-scale btn-scale-asc-1" id = "button41" onclick="selectResponse(1, 'response4')">1</button>
            <button class="btn btn-scale btn-scale-asc-2" id = "button42" onclick="selectResponse(2, 'response4')">2</button>
            <button class="btn btn-scale btn-scale-asc-3" id = "button43" onclick="selectResponse(3, 'response4')">3</button>
            <button class="btn btn-scale btn-scale-asc-4" id = "button44" onclick="selectResponse(4, 'response4')">4</button>
            <button class="btn btn-scale btn-scale-asc-5" id = "button45" onclick="selectResponse(5, 'response4')">5</button>
            <button class="btn btn-scale btn-scale-asc-6" id = "button46" onclick="selectResponse(6, 'response4')">6</button>
            <button class="btn btn-scale btn-scale-asc-7" id = "button47" onclick="selectResponse(7, 'response4')">7</button>
            <button class="btn btn-scale btn-scale-asc-8" id = "button48" onclick="selectResponse(8, 'response4')">8</button>
            <button class="btn btn-scale btn-scale-asc-9" id = "button49" onclick="selectResponse(9, 'response4')">9</button>
        </div>
  
        <div class="form-control">
          <label for="response5"></label>
          On a scale from 1 (not at all) to 9 (a lot), how much has your sleep changed in the past month?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" id = "button51" onclick="selectResponse(1, 'response5')">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id = "button52" onclick="selectResponse(2, 'response5')">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id = "button53" onclick="selectResponse(3, 'response5')">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id = "button54" onclick="selectResponse(4, 'response5')">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id = "button55" onclick="selectResponse(5, 'response5')">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id = "button56" onclick="selectResponse(6, 'response5')">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id = "button57" onclick="selectResponse(7, 'response5')">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id = "button58" onclick="selectResponse(8, 'response5')">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id = "button59" onclick="selectResponse(9, 'response5')">9</button>
        </div>
  
        <div class="form-control">
          <label for="response6"></label>
          On a scale from 1 (almost never) to 9 (almost all the time), how often do you experience headaches, backaches, or digestion issues?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" id = "button61" onclick="selectResponse(1, 'response6')">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id = "button62" onclick="selectResponse(2, 'response6')">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id = "button63" onclick="selectResponse(3, 'response6')">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id = "button64" onclick="selectResponse(4, 'response6')">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id = "button65" onclick="selectResponse(5, 'response6')">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id = "button66" onclick="selectResponse(6, 'response6')">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id = "button67" onclick="selectResponse(7, 'response6')">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id = "button68" onclick="selectResponse(8, 'response6')">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id = "button69" onclick="selectResponse(9, 'response6')">9</button>
        </div>
      </div>
      <form id="responseForm" action="/questions" method="POST">
        <input type="hidden" name="response1" id="response1" required>
        <input type="hidden" name="response2" id="response2" required>
        <input type="hidden" name="response3" id="response3" required>
        <input type="hidden" name="response4" id="response4" required>
        <input type="hidden" name="response5" id="response5" required>
        <input type="hidden" name="response6" id="response6" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
    <!-- contact section end -->
    <!-- footer section start -->
    
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>

<script>
  function selectResponse(responseValue, inputFieldId) {
    document.getElementById(inputFieldId).value = responseValue;
  }
</script>
<script>
  const button11 = document.getElementById("button11");
  const button12 = document.getElementById("button12");
  const button13 = document.getElementById("button13");
  const button14 = document.getElementById("button14");
  const button15 = document.getElementById("button15");
  const button16 = document.getElementById("button16");
  const button17 = document.getElementById("button17");
  const button18 = document.getElementById("button18");
  const button19 = document.getElementById("button19");
  const button21 = document.getElementById("button21");
  const button22 = document.getElementById("button22");
  const button23 = document.getElementById("button23");
  const button24 = document.getElementById("button24");
  const button25 = document.getElementById("button25");
  const button26 = document.getElementById("button26");
  const button27 = document.getElementById("button27");
  const button28 = document.getElementById("button28");
  const button29 = document.getElementById("button29");
  const button31 = document.getElementById("button31");
  const button32 = document.getElementById("button32");
  const button33 = document.getElementById("button33");
  const button34 = document.getElementById("button34");
  const button35 = document.getElementById("button35");
  const button36 = document.getElementById("button36");
  const button37 = document.getElementById("button37");
  const button38 = document.getElementById("button38");
  const button39 = document.getElementById("button39");
  const button41 = document.getElementById("button41");
  const button42 = document.getElementById("button42");
  const button43 = document.getElementById("button43");
  const button44 = document.getElementById("button44");
  const button45 = document.getElementById("button45");
  const button46 = document.getElementById("button46");
  const button47 = document.getElementById("button47");
  const button48 = document.getElementById("button48");
  const button49 = document.getElementById("button49");
  const button51 = document.getElementById("button51");
  const button52 = document.getElementById("button52");
  const button53 = document.getElementById("button53");
  const button54 = document.getElementById("button54");
  const button55 = document.getElementById("button55");
  const button56 = document.getElementById("button56");
  const button57 = document.getElementById("button57");
  const button58 = document.getElementById("button58");
  const button59 = document.getElementById("button59");
  const button61 = document.getElementById("button61");
  const button62 = document.getElementById("button62");
  const button63 = document.getElementById("button63");
  const button64 = document.getElementById("button64");
  const button65 = document.getElementById("button65");
  const button66 = document.getElementById("button66");
  const button67 = document.getElementById("button67");
  const button68 = document.getElementById("button68");
  const button69 = document.getElementById("button69");

//question 1
  button11.addEventListener("click", function() {
      // Remove 'active-button' class from both buttons
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button11.classList.add("active-button");
  });

  button12.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button12.classList.add("active-button");
  });
  button13.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button13.classList.add("active-button");
  });
  button14.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button14.classList.add("active-button");
  });
  button15.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button15.classList.add("active-button");
  });
  button16.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button16.classList.add("active-button");
  });
  button17.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button17.classList.add("active-button");
  });
  button18.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button18.classList.add("active-button");
  });
  button19.addEventListener("click", function() {
      button11.classList.remove("active-button");
      button12.classList.remove("active-button");
      button13.classList.remove("active-button");
      button14.classList.remove("active-button");
      button15.classList.remove("active-button");
      button16.classList.remove("active-button");
      button17.classList.remove("active-button");
      button18.classList.remove("active-button");
      button19.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button19.classList.add("active-button");
  });
  // question 2
  button21.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button21.classList.add("active-button");
  });
  button22.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button22.classList.add("active-button");
  });
  button23.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button23.classList.add("active-button");
  });
  button24.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button24.classList.add("active-button");
  });
  button25.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button25.classList.add("active-button");
  });
  button26.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button26.classList.add("active-button");
  });
  button27.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button27.classList.add("active-button");
  });
  button28.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button28.classList.add("active-button");
  });
  button29.addEventListener("click", function() {
      button21.classList.remove("active-button");
      button22.classList.remove("active-button");
      button23.classList.remove("active-button");
      button24.classList.remove("active-button");
      button25.classList.remove("active-button");
      button26.classList.remove("active-button");
      button27.classList.remove("active-button");
      button28.classList.remove("active-button");
      button29.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button29.classList.add("active-button");
  });
  // question 3
  button31.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button31.classList.add("active-button");
  });
  button32.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button32.classList.add("active-button");
  });
  button33.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button33.classList.add("active-button");
  });
  button34.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button34.classList.add("active-button");
  });
  button35.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button35.classList.add("active-button");
  });
  button36.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button36.classList.add("active-button");
  });
  button37.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button37.classList.add("active-button");
  });
  button38.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button38.classList.add("active-button");
  });
  button39.addEventListener("click", function() {
      button31.classList.remove("active-button");
      button32.classList.remove("active-button");
      button33.classList.remove("active-button");
      button34.classList.remove("active-button");
      button35.classList.remove("active-button");
      button36.classList.remove("active-button");
      button37.classList.remove("active-button");
      button38.classList.remove("active-button");
      button39.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button39.classList.add("active-button");
  });
  //question 4
  button41.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button41.classList.add("active-button");
  });
  button42.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button42.classList.add("active-button");
  });
  button43.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button43.classList.add("active-button");
  });
  button44.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button44.classList.add("active-button");
  });
  button45.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button45.classList.add("active-button");
  });
  button46.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button46.classList.add("active-button");
  });
  button47.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button47.classList.add("active-button");
  });
  button48.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button48.classList.add("active-button");
  });
  button49.addEventListener("click", function() {
      button41.classList.remove("active-button");
      button42.classList.remove("active-button");
      button43.classList.remove("active-button");
      button44.classList.remove("active-button");
      button45.classList.remove("active-button");
      button46.classList.remove("active-button");
      button47.classList.remove("active-button");
      button48.classList.remove("active-button");
      button49.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button49.classList.add("active-button");
  });
  //question 5
  button51.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button51.classList.add("active-button");
  });
  button52.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button52.classList.add("active-button");
  });
  button53.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button53.classList.add("active-button");
  });
  button54.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button54.classList.add("active-button");
  });
  button55.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button55.classList.add("active-button");
  });
  button56.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button56.classList.add("active-button");
  });
  button57.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button57.classList.add("active-button");
  });
  button58.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button58.classList.add("active-button");
  });
  button59.addEventListener("click", function() {
      button51.classList.remove("active-button");
      button52.classList.remove("active-button");
      button53.classList.remove("active-button");
      button54.classList.remove("active-button");
      button55.classList.remove("active-button");
      button56.classList.remove("active-button");
      button57.classList.remove("active-button");
      button58.classList.remove("active-button");
      button59.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button59.classList.add("active-button");
  });
  //question 6
  button61.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button61.classList.add("active-button");
  });
  button22.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button62.classList.add("active-button");
  });
  button63.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button63.classList.add("active-button");
  });
  button64.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button64.classList.add("active-button");
  });
  button65.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button65.classList.add("active-button");
  });
  button66.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button66.classList.add("active-button");
  });
  button67.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button67.classList.add("active-button");
  });
  button68.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button68.classList.add("active-button");
  });
  button69.addEventListener("click", function() {
      button61.classList.remove("active-button");
      button62.classList.remove("active-button");
      button63.classList.remove("active-button");
      button64.classList.remove("active-button");
      button65.classList.remove("active-button");
      button66.classList.remove("active-button");
      button67.classList.remove("active-button");
      button68.classList.remove("active-button");
      button69.classList.remove("active-button");
      // Add 'active-button' class to the clicked button
      button69.classList.add("active-button");
  });
</script>