<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Contact</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="static/css/form.css">
<!-- Responsive-->
<link rel="stylesheet" href="static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="static/css/owl.carousel.min.css">
<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    <!-- header section end -->
    <!-- contact section start -->
  
    <!-- Create Form -->
    <div class="form">
 
        <!-- Details -->
        <div class="form-control">
          On a scale from 1 (not dreading it at all) to 10 (dreading it a lot), how much do you dread coming to work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1" onclick="">1</button>
          <button class="btn btn-scale btn-scale-asc-2">2</button>
          <button class="btn btn-scale btn-scale-asc-3">3</button>
          <button class="btn btn-scale btn-scale-asc-4">4</button>
          <button class="btn btn-scale btn-scale-asc-5">5</button>
          <button class="btn btn-scale btn-scale-asc-6">6</button>
          <button class="btn btn-scale btn-scale-asc-7">7</button>
          <button class="btn btn-scale btn-scale-asc-8">8</button>
          <button class="btn btn-scale btn-scale-asc-9">9</button>
          <button class="btn btn-scale btn-scale-asc-10">10</button>
        </div>
        <div class="form-control">
          On a scale from 1 (a lot less) to 10 (a lot more), how much more cynical and critical are you about your job?
          <br>
          <button class="btn btn-scale btn-scale-asc-1">1</button>
          <button class="btn btn-scale btn-scale-asc-2">2</button>
          <button class="btn btn-scale btn-scale-asc-3">3</button>
          <button class="btn btn-scale btn-scale-asc-4">4</button>
          <button class="btn btn-scale btn-scale-asc-5">5</button>
          <button class="btn btn-scale btn-scale-asc-6">6</button>
          <button class="btn btn-scale btn-scale-asc-7">7</button>
          <button class="btn btn-scale btn-scale-asc-8">8</button>
          <button class="btn btn-scale btn-scale-asc-9">9</button>
          <button class="btn btn-scale btn-scale-asc-10">10</button>
        </div>
  
        <div class="form-control">
          On a scale from 1 (not overwhelmed at all) to 10 (very very overwhelmed), how overwhelmed are you at work?
          <br>
          <button class="btn btn-scale btn-scale-asc-1">1</button>
          <button class="btn btn-scale btn-scale-asc-2">2</button>
          <button class="btn btn-scale btn-scale-asc-3">3</button>
          <button class="btn btn-scale btn-scale-asc-4">4</button>
          <button class="btn btn-scale btn-scale-asc-5">5</button>
          <button class="btn btn-scale btn-scale-asc-6">6</button>
          <button class="btn btn-scale btn-scale-asc-7">7</button>
          <button class="btn btn-scale btn-scale-asc-8">8</button>
          <button class="btn btn-scale btn-scale-asc-9">9</button>
          <button class="btn btn-scale btn-scale-asc-10">10</button>
        </div>
  
        <div class="form-control">
            On a scale from 1 (not at all) to 10 (a lot), how much has your appetite changed in the past month?
            <br>
          <button class="btn btn-scale btn-scale-asc-1">1</button>
          <button class="btn btn-scale btn-scale-asc-2">2</button>
          <button class="btn btn-scale btn-scale-asc-3">3</button>
          <button class="btn btn-scale btn-scale-asc-4">4</button>
          <button class="btn btn-scale btn-scale-asc-5">5</button>
          <button class="btn btn-scale btn-scale-asc-6">6</button>
          <button class="btn btn-scale btn-scale-asc-7">7</button>
          <button class="btn btn-scale btn-scale-asc-8">8</button>
          <button class="btn btn-scale btn-scale-asc-9">9</button>
          <button class="btn btn-scale btn-scale-asc-10">10</button>
        </div>
  
        <div class="form-control">
          On a scale from 1 (not at all) to 10 (a lot), how much has your sleep changed in the past month?
          <br>
          <button class="btn btn-scale btn-scale-asc-1">1</button>
          <button class="btn btn-scale btn-scale-asc-2">2</button>
          <button class="btn btn-scale btn-scale-asc-3">3</button>
          <button class="btn btn-scale btn-scale-asc-4">4</button>
          <button class="btn btn-scale btn-scale-asc-5">5</button>
          <button class="btn btn-scale btn-scale-asc-6">6</button>
          <button class="btn btn-scale btn-scale-asc-7">7</button>
          <button class="btn btn-scale btn-scale-asc-8">8</button>
          <button class="btn btn-scale btn-scale-asc-9">9</button>
          <button class="btn btn-scale btn-scale-asc-10">10</button>
        </div>
  
        <div class="form-control">
          On a scale from 1 (almost never) to 10 (almost all the time), how often do you experience headaches, backaches, or digestion issues?
          <br>
          <input class="btn btn-scale btn-scale-asc-1" id="1">1</button>
          <button class="btn btn-scale btn-scale-asc-2" id="2">2</button>
          <button class="btn btn-scale btn-scale-asc-3" id="3">3</button>
          <button class="btn btn-scale btn-scale-asc-4" id="4">4</button>
          <button class="btn btn-scale btn-scale-asc-5" id="5">5</button>
          <button class="btn btn-scale btn-scale-asc-6" id="6">6</button>
          <button class="btn btn-scale btn-scale-asc-7" id="7">7</button>
          <button class="btn btn-scale btn-scale-asc-8" id="8">8</button>
          <button class="btn btn-scale btn-scale-asc-9" id="9">9</button>
          <button class="btn btn-scale btn-scale-asc-10" id="10">10</button>
        </div>
        <a href="landingPage.html">Submit</a>
      </div>
</body>
</html>
    <!-- contact section end -->
    <!-- footer section start -->
    
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>